<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C12C2BC20CE18E7002DCB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C12C2D020CE18E8002DCB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C12C2DB20CE18E8002DCB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
